body {
    font-family: $primary-font;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    overflow-x: hidden;
}

section {
    padding: 4rem 0;
    @include media-breakpoint-up(lg) {
        padding: 9rem 0;
    }
}