p {
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  line-height: 2.5rem;
  font-family: $primary-font;
  margin-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

h1,
h1 {
  font-family: $primary-font;
  font-weight: 800;
  letter-spacing: 0.024em;
  font-size: 2.6rem;
  line-height: 2.7rem;
  margin: 0;
  margin-bottom: 4rem;
  text-transform: uppercase;
  @include media-breakpoint-up(lg) {
    line-height: 8rem;
    font-size: 8rem;
    margin-bottom: 6rem;
  }
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.072em;
  margin-bottom: 2rem;
  padding-top: 1.7rem;
  position: relative;
  &::first-letter {
    text-transform: uppercase;
  }
  @include media-breakpoint-up(lg) {
    line-height: 6rem;
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 10rem;
    height: 0.4rem;
    background: linear-gradient(90deg, #ffac12 0%, #000000 94.96%);
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 1.7rem;
    @include media-breakpoint-up(lg) {
      width: 17rem;
    }
  }
}

h3,
.h3,
h4,
h5 {
  font-size: 1.8rem;
  letter-spacing: 0.08em;
  line-height: 1.9rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  @include media-breakpoint-up(lg) {
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 2rem;
  }
}

.btn {
  font-size: 1.6rem;
  padding: 2rem 3rem;
  background-color: transparent;
  border: none;
  font-family: $primary-font;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: fit-content;
  text-decoration: none;
  @include transition;
  margin-top: 3rem;
  @include media-breakpoint-up(lg) {
    font-size: 1.9rem;
  }
  &::after {
    content: url('data:image/svg+xml;utf8, <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7558 4.22568L15.7742 0.244013C15.5358 0.00575645 15.1775 -0.0655052 14.8661 0.0634481C14.5548 0.192401 14.3517 0.496183 14.3517 0.83318V3.35651C14.3517 3.47157 14.2584 3.56485 14.1433 3.56485H1.25C0.559644 3.56485 0 4.12449 0 4.81485C0 5.5052 0.559644 6.06485 1.25 6.06485H14.1433C14.2584 6.06485 14.3517 6.15812 14.3517 6.27318V8.79651C14.3517 9.13351 14.5548 9.43729 14.8661 9.56625C15.1775 9.6952 15.5358 9.62394 15.7742 9.38568L19.7558 5.40401C20.0812 5.0786 20.0812 4.5511 19.7558 4.22568Z" fill="white"/></svg>');
    display: inline-block;
    margin-left: 1rem;
    transform: translateY(-0.2rem);
  }
  &-primary {
    background-color: $primary;
    color: $secondary;
    @include media-breakpoint-up(xl) {
      &:hover {
        background-color: darken($primary, 8%);
      }
    }
  }
  &-secondary {
    background-color: $secondary;
    color: $white;
    &::after {
      content: url('data:image/svg+xml;utf8, <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7558 4.22568L15.7742 0.244013C15.5358 0.00575645 15.1775 -0.0655052 14.8661 0.0634481C14.5548 0.192401 14.3517 0.496183 14.3517 0.83318V3.35651C14.3517 3.47157 14.2584 3.56485 14.1433 3.56485H1.25C0.559644 3.56485 0 4.12449 0 4.81485C0 5.5052 0.559644 6.06485 1.25 6.06485H14.1433C14.2584 6.06485 14.3517 6.15812 14.3517 6.27318V8.79651C14.3517 9.13351 14.5548 9.43729 14.8661 9.56625C15.1775 9.6952 15.5358 9.62394 15.7742 9.38568L19.7558 5.40401C20.0812 5.0786 20.0812 4.5511 19.7558 4.22568Z" fill="%23FFAC12"/></svg>');
    }
    @include media-breakpoint-up(xl) {
      &:hover {
        background-color: lighten($secondary, 20%);
      }
    }
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-image {
  img {
    max-width: 100%;
  }
}

a.link {
  text-decoration: none;
  color: $primary;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 1.6rem;
  line-height: 2.5rem;
  transition: 0.3s ease-in;

  @include media-breakpoint-up(lg) {
    line-height: 2.9rem;
    font-size: 1.7rem;
  }

  &-primary {
    color: $primary;

    @include media-breakpoint-up(lg) {
      &:hover {
        color: $white;
      }
    }
  }

  &-secondary {
    color: $white;

    @include media-breakpoint-up(lg) {
      &:hover {
        color: $primary;
      }
    }
  }

  &:hover {
    color: $primary;
  }
}

input:not([type="checkbox"], .btn),
textarea,
select {
  cursor: text;
  border: none;
  outline: none;
  padding: 2rem;
  width: 100%;
  font-family: $primary-font;
  border-radius: 1rem;
  height: 5.5rem;
  letter-spacing: 0.06em;
  border: 0.1rem solid #ebebeb;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  will-change: border-color;
  @include transition;

  &:focus {
    border-color: $primary;
  }
}

textarea {
  resize: none;
  min-height: 12rem;
  text-align: left;
}
