p {
    font-size: 1.4rem;
    letter-spacing: 0.08em;
    line-height: 2.5rem;
    font-family: $primary-font;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
        font-size: 2rem;
        line-height: 2.8rem;
        margin-bottom: 3rem;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

h1,
h1 {
    font-family: $primary-font;
    font-weight: 800;
    letter-spacing: 0.024em;
    font-size: 2.6rem;
    line-height: 2.7rem;
    margin: 0;
    margin-bottom: 4rem;
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
        line-height: 8rem;
        font-size: 8rem;
        margin-bottom: 6rem;
    }
}

h2,
.h2 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.072em;
    margin-bottom: 2rem;
    padding-top: 1.7rem;
    position: relative;
    &::first-letter {
        text-transform: uppercase;
    }
    @include media-breakpoint-up(lg) {
        line-height: 6rem;
        font-size: 5rem;
        margin-bottom: 3rem;
    }
    &::before {
        content: "";
        display: inline-block;
        width: 10rem;
        height: .4rem;
        background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 1.7rem;
        @include media-breakpoint-up(lg) {
            width: 17rem;
        }
    }
}

h3,
h4,
h5 {
    font-size: 1.8rem;
    letter-spacing: 0.08em;
    line-height: 1.9rem;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    @include media-breakpoint-up(lg) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 2rem;
    }
}

.btn {
    font-size: 1.6rem;
    padding: 2rem 3rem;
    background-color: transparent;
    border: none;
    font-family: $primary-font;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: fit-content;
    text-decoration: none;
    @include transition;
    @include media-breakpoint-up(lg) {
        font-size: 1.9rem;
    }
    &::after {
        content: url("../images/icons/arrow.svg");
        display: inline-block;
        margin-left: 1rem;
        transform: translateY(-0.2rem);
    }
    &-primary {
        background-color: $primary;
        color: $secondary;
        @include media-breakpoint-up(xl) {
            &:hover {
                background-color: darken($primary, 8%);
            }
        }
    }
    &-secondary {
        background-color: $secondary;
        color: $white;
        &::after {
            content: url("../images/icons/arrow_primary.svg");
        }
        @include media-breakpoint-up(xl) {
            &:hover {
                background-color: lighten($secondary, 20%);
            }
        }
    }
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.section-image {
    img {
        max-width: 100%;
    }
}